@font-face {
  font-family: "merriweather";
  src: url(./fonts/Merriweather-Regular.ttf);
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: "merriweather";
  src: url(./fonts/Merriweather-Italic.ttf);
  font-style: italic;
  font-weight: 300;
}

@font-face {
  font-family: "merriweather";
  src: url(./fonts/Merriweather-Bold.ttf);
  font-style: normal;
  font-weight: 700;
}

:root {
  --darkgrey: #252422;
  --darkbrown: #403d39;
  --lightbrown: #ccc5b9;
  --white: #fffcf2;
  --orange: #eb5e28;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "merriweather";
}

body {
  background-color: var(--lightbrown);
  color: #111;
}

.hidden {
  display: none;
}

.page-container {
  display: flex;
  justify-content: center;
}

.page {
  width: 800px;
}

.main-title {
  font-size: 50px;
  font-style: bold;
  margin: 48px 0;
}

.author {
  font-size: 30px;
  font-style: normal;
  margin: 48px 0;
}

.contents {
  position: fixed;
  top: 0;
  left: 0;
  width: 300px;
  z-index: 100;
  padding: 24px;
  height: 100vh;
  background: var(--darkgrey);
}

.contents-heading {
  font-size: 40px;
  font-style: bold;
  color: var(--white);
}

.contents-list {
  line-height: 1.5em;
  font-size: 15px;
  margin-left: 24px;
  list-style-type: none;
}

.contents-list li {
  margin: 10px 0;
}

.contents-list a {
  color: var(--white);
  transition: all 0.5s ease;
}

.contents-list a:visited {
  color: var(--orange);
}

.contents-list a:hover {
  color: var(--lightbrown);
}

.project-gutenberg-img {
  width: 50px;
  margin: 24px 105px;
}

.book-titles {
  font-size: 40px;
  font-style: bold;
  margin: 48px 0;
}

.chapter-titles {
  font-size: 32px;
  font-style: bold;
  margin-bottom: 20px;
}

p {
  text-align: justify;
  line-height: 2;
  margin: 1em 0;
  font-size: 1.2em;
}
